root = true

[*]
# Helps keep Windows, Mac, Linux on the same page since they handle end of line differently
end_of_line = lf
charset = utf-8
# Auto-trims trailing whitespace
trim_trailing_whitespace = true
# Auto-adds a blank newline to the end of a file
insert_final_newline = true

[*.scss]
# More common to see 2 spaces in SCSS, HTML, and JS
indent_size = 2

[*.html]
indent_size = 2

[*.js]
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
