<div>
    <h2>{{ component_name }}</h2>

    <div>
        <label for="text">Text input</label><br />
        <input unicorn:model="name" type="text" id="text">
        <input unicorn:model="name" type="text" id="text2">
        Hello {{ name|title }} 👋
        <br />

        <button unicorn:click="set_name">set_name</button>
        <button unicorn:click="set_name()">set_name()</button>
        <button unicorn:click="set_name('')">set_name('')</button>
        <button unicorn:click="set_name('blob')">set_name('blob')</button>
        <button unicorn:click="reset">reset</button>
    </div>

    <div>
        <label for="check">Checkbox</label><br />
        <input type="checkbox" unicorn:model="is_checked" id="check">
        {% if is_checked %}Yes! 🦄{% else %}Nope 🙁{% endif %}
    </div>

    <div>
        <label for="select">Select</label>
        <select unicorn:model="thing" id="select">
            <option>🐶</option>
            <option>🐙</option>
            <option>👾</option>
        </select>

        <p>
            Hi {{ thing }}
        </p>
    </div>

    <div>
        <label for="select-multiple">Multiple select</label>
        <select unicorn:model="things" id="select-multiple" multiple>
            <option value="doggo">🐶</option>
            <option value="octopus">🐙</option>
            <option value="alien">👾</option>
        </select>

        <p>
            Howdy {{ things|join:", " }}
        </p>
    </div>

    <div>
        <label>Radio buttons</label><br />
        <input type="radio" unicorn:model="pie" name="pie" value="blueberry"> Blueberry</input><br />
        <input type="radio" unicorn:model="pie" name="pie" value="apple"> Apple</input><br />
        <input type="radio" unicorn:model="pie" name="pie" value="cherry"> Cherry</input>

        <p>
            Delicious {{ pie|upper }} pie
        </p>
    </div>

    <div>
        <label>Textarea</label><br />
        <textarea unicorn:model="paragraph"></textarea>

        <p>
            Number of characters: {{ paragraph|length }}
        </p>
    </div>

    <div>
        <label>Typeahead</label><br />
        <input type="text" unicorn:model="state" placeholder="State name"></input>

        <p>
            Matching states:

            {% if states %}
            <ul>
            {% for s in states %}
            <li>{{ s }}</li>
            {% endfor %}
            </ul>

            <button unicorn:click="clear_states()">Clear States</button>
            {% endif %}
        </p>
    </div>
</div>
