<div>
    <h2>{{ component_name }}</h2>
    <button unicorn:click="reset">Reset the component</button>

    <div>
        <h2>Text input</h2>

        <label>unicorn:key</label>
        <input unicorn:model="name" type="text" id="name" unicorn:key="key1">

        <label>Duplicate id</label>
        <input unicorn:model="name" type="text" id="name">

        <label>Unique id</label>
        <input unicorn:model="name" type="text" id="uniqueName">

        <label>Keyup</label>
        <input unicorn:model="name" unicorn:keyup="set_name('something new')" type="text" id="keyupName">

        <label>Lazy</label>
        <input unicorn:model.lazy="name" type="text" id="lazyName" unicorn:key="key1">
        
        <label>Debounce</label>
        <input unicorn:model.debounce-1000="name" type="text" id="debounceName" unicorn:key="key1">

        <br />
        <button unicorn:click="set_name">set_name</button>
        <button unicorn:click="set_name()">set_name()</button>
        <button unicorn:click="set_name('')">set_name('')</button>
        <button unicorn:click="set_name('blob')">set_name('blob')</button>
        <button unicorn:click="name='human'">name='human'</button>

        <br />
        Hello {{ name|title }} 👋
    </div>
    
    <div>
        <label>Dictionaries</label>
        <input unicorn:model="dictionary.name" type="text" id="dictionary">
        <input unicorn:model="dictionary.nested.name" type="text" id="nestedDictionary">

        <br />
        dictionary.name: {{ dictionary.name }}<br />
        dictionary.nested.name: {{ dictionary.nested.name }}<br />
    </div>

    <div>
        <label>Nested property</label>
        <input unicorn:model="unicorn_field.title" type="text" id="unicornField">
        <input unicorn:model="unicorn_field.publish_date.year" type="text" id="nestedUnicornField">

        <br />
        unicorn_field.title: {{ unicorn_field.title }}<br />
        unicorn_field.publish_date.year: {{ unicorn_field.publish_date.year }}<br />
    </div>

    <div>
        <label>Django models</label>
        <input unicorn:model="book.title" type="text" id="bookId">

        <br />
        book.title: {{ book.title }} 📖
    </div>

    <div>
        <label>Django queryset (limited to readonly for now)</label>
        <input unicorn:model="books.0.title" type="text" id="booksId" readonly>

        <br />
        Book queryset

        <ul>
            {% for b in books %}
            <li>Book in queryset: {{ b.title }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Checkbox</h2>
        <input type="checkbox" unicorn:model="is_checked" id="check">
        {% if is_checked %}Yes! 🦄{% else %}Nope 🙁{% endif %}
    </div>

    <div>
        <h2>Select</h2>
        <select unicorn:model="thing" id="select">
            <option>🐶</option>
            <option>🐙</option>
            <option>👾</option>
        </select>

        <p>
            Hi {{ thing }}
        </p>
    </div>

    <div>
        <h2>Multiple select</h2>
        <select unicorn:model="things" id="select-multiple" multiple>
            <option value="doggo">🐶</option>
            <option value="octopus">🐙</option>
            <option value="alien">👾</option>
        </select>

        <p>
            Howdy {{ things|join:", " }}
        </p>
    </div>

    <div>
        <h2>Radio buttons</h2>
        <input type="radio" unicorn:model="pie" name="pie" value="blueberry"> Blueberry</input><br />
        <input type="radio" unicorn:model="pie" name="pie" value="apple"> Apple</input><br />
        <input type="radio" unicorn:model="pie" name="pie" value="cherry"> Cherry</input>

        <p>
            Delicious {{ pie|upper }} pie
        </p>
    </div>

    <div>
        <h2>Textarea</h2>
        <textarea unicorn:model="paragraph" id="textarea"></textarea>

        <p>
            Number of characters: {{ paragraph|length }}
        </p>
    </div>

    <div>
        <h2>Typeahead</h2>
        <input type="text" unicorn:model="state" placeholder="State name" id="typeahead"></input>

        <p>
            Matching states:

            {% if states %}
        <ul>
            {% for s in states %}
            <li>{{ s }}</li>
            {% endfor %}
        </ul>

        <button unicorn:click="clear_states()">Clear States</button>
        {% endif %}
        </p>
    </div>
</div>