<div>
    <select name="left">
    {% for x in obja.objcs.all %}
        <option value="{{ x.id }}" unicorn:click="set_left({{ x.id }})">{{ x.relB.name }}</option>
    {% endfor %}
    </select>
    
    <select name="right">
    {% for x in obja.objcs.all %}
        <option value="{{ x.id }}" unicorn:click="set_right({{ x.id }})">{{ x.relB.name }}</option>
    {% endfor %}
    </select>

    <hr />
    <p>LEFT : {{ objc_left.relB.name }}</p>
    <p>RIGHT : {{ objc_right.relB.name }}</p>
</div>
