<div>
    <select name="left">
    {% for x in obja.objcs.all %}
        <option value="{{ x.id }}" unicorn:click="set_left({{ x.id }})">{{ x }}</option>
    {% endfor %}
    </select>
    
    <select name="right">
    {% for x in objb.objcs.all %}
        <option value="{{ x.id }}" unicorn:click="set_right({{ x.id }})">{{ x }}</option>
    {% endfor %}
    </select>

    <hr />

    <select name="left" unicorn:model="objc_left">
    {% for x in obja.objcs.all %}
        <option value="{{ x.id }}">{{ x }}</option>
    {% endfor %}
    </select>
    
    <select name="right" unicorn:model="objc_right">
    {% for x in objb.objcs.all %}
        <option value="{{ x.id }}">{{ x }}</option>
    {% endfor %}
    </select>
</div>
