<div>
    <style>
        .dirty {
            border: red 1px solid !important;
        }
    </style>

    <h3>Current flavors</h3>
    <ul>
        {% for flavor in flavors %}
        <li>{{ flavor.id }} - {{ flavor.name }} - {{ flavor.label }}</li>
        {% endfor %}
    </ul>
    
    <div>
        <h3>New Flavor (instance variable)</h3>

        <label>Name</label>
        <input type="text" unicorn:model.defer="instance_flavor.name"></input>

        <label>Label</label>
        <input type="text" unicorn:model.defer="instance_flavor.label"></input>

        <br />
        <button unicorn:click="add_instance_flavor">Add Flavor (instance variable)</button>
    </div>

    <div>
        <h3>New Flavor (class attribute)</h3>

        <label>Name</label>
        <input type="text" unicorn:model.defer="class_flavor.name"></input>

        <label>Label</label>
        <input type="text" unicorn:model.defer="class_flavor.label"></input>

        <br />
        <button unicorn:click="add_class_flavor">Add Flavor (class attribute)</button>
    </div>

    <div>
        <h3>Using unicorn:db</h3>

        <div unicorn:db="flavor">
            <div>
                <label>Name</label>
                <input type="text" unicorn:field.defer="name" u:dirty.class="dirty"></input>
            </div>
            
            <div>
                <label>Label</label>
                <input type="text" unicorn:field.defer="label" u:dirty.class="dirty"></input>
            </div>

            {% for flavor in flavors %}
            <div unicorn:pk="{{ flavor.pk }}">
                <h4>{{ flavor.pk }}</h4>
                <label>Name</label>
                <input type="text" unicorn:field.defer="name" u:dirty.class="dirty" value="{{ flavor.name }}"></input>
                {{ flavor.name }}
                <br />

                <label>Label</label>
                <input type="text" unicorn:field.defer="label" u:dirty.class="dirty" value="{{ flavor.label }}"></input>
                {{ flavor.label }}
                <br />

                <label>Float</label>
                <input type="text" unicorn:field.defer="float_value"></input>
                {{ flavor.float_value }}
                <br />

                <label>Decimal value</label>
                <input type="text" unicorn:field.defer="decimal_value"></input>
                {{ flavor.decimal_value }}
                <br />

                <button unicorn:click="delete($model)">delete($model)</button>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <br /><br />
    <button unicorn:click="$refresh">$refresh</button>
    <button unicorn:click="$reset">$reset</button>
</div>
