<div>
    <div>
        <label>Dictionaries (original)</label>
        <input u:model="dictionary.name" type="text" id="dictionary">
        <input u:model="dictionary.nested.name" type="text" id="nestedDictionary">

        <br />
        dictionary.name: {{ dictionary.name }}<br />
        dictionary.nested.name: {{ dictionary.nested.name }}<br />
        <button u:click='set_dictionary({"name": 1, "nested": {"name": 2}})'>set dictionary(1)</button>
        <button u:click='dictionary.nested.name=2'>set dictionary(2)</button>
    </div>

    <div u:model="dictionary">
        <label>Dictionaries (model parent)</label>
        <input u:field="name" type="text" id="dictionary2">
        <input u:field="nested.name" type="text" id="nestedDictionary2">

        <br />
        dictionary.name: {{ dictionary.name }}<br />
        dictionary.nested.name: {{ dictionary.nested.name }}<br />
        <button u:click='set_dictionary({"name": 1, "nested": {"name": 2}})'>set dictionary(1)</button>
        <button u:click='dictionary.nested.name=2'>set dictionary(2)</button>
    </div>
    
    <div>
        <label>Nested unicorn field property (original)</label>
        <input u:model="unicorn_field.title" type="text" id="unicornField">
        <input u:model="unicorn_field.publish_date_field.year" type="text" id="nestedUnicornField">
        <input u:model="unicorn_field.publish_date" type="text" id="nestedDatetimeUnicornField">

        <br />
        unicorn_field.title: {{ unicorn_field.title }}<br />
        unicorn_field.publish_date_field.year: {{ unicorn_field.publish_date_field.year }}<br />

        <br />
        <button u:click="unicorn_field={'title': 'title1', 'publish_date': 'blob', 'publish_date_field': {'year': 1999}}">Set with dictionary</button>
    </div>

    <div u:model="unicorn_field">
        <label>Nested unicorn field property (model parent)</label>
        <input u:field="title" type="text" id="unicornField2">
        <input u:field="publish_date_field.year" type="text" id="nestedUnicornField2">
        <input u:field="publish_date" type="text" id="nestedDatetimeUnicornField2">

        <br />
        unicorn_field.title: {{ unicorn_field.title }}<br />
        unicorn_field.publish_date_field.year: {{ unicorn_field.publish_date_field.year }}<br />

        <br />
        <button u:click="unicorn_field={'title': 'title1', 'publish_date': 'blob', 'publish_date_field': {'year': 1999}}">Set with dictionary</button>
    </div>

    <div>
        <label>Django models</label>
        <input u:model="book.title" type="text" id="bookId">

        <br />
        book.title: {{ book.title }} 📖
    </div>

    <div>
        <label>Django queryset (limited to readonly for now)</label>
        <input u:model="books.0.title" type="text" id="booksId" readonly>

        <br />
        Book queryset

        <ul>
            {% for b in books %}
            <li>Book in queryset: {{ b.title }}</li>
            {% endfor %}
        </ul>
    </div>

    <button u:click="reset">reset</button>
    <button u:click="refresh">refresh</button>
</div>