<div>
    <button unicorn:click="$reset">Reset the component</button>
    <br />
    <br />

    <label>unicorn:key</label>
    <input unicorn:model="name" type="text" id="name" unicorn:key="key1">

    <label>Duplicate id</label>
    <input unicorn:model="name" type="text" id="name">

    <label>Unique id</label>
    <input unicorn:model="name" type="text" id="uniqueName">

    <label>Keyup</label>
    <input unicorn:model="name" unicorn:keyup="set_name('something new')" type="text" id="keyupName">

    <label>Keydown for escape key</label>
    <input unicorn:model="name" unicorn:keydown.escape="name='ESCAPE!'" type="text" id="keydownEscapeName">

    <label>Defer</label>
    <input unicorn:model.defer="name" type="text" id="deferName" unicorn:key="deferKey">

    <label>Lazy</label>
    <input unicorn:model.lazy="name" type="text" id="lazyName" unicorn:key="key1">
    
    <label>Debounce-1000</label>
    <input unicorn:model.debounce-1000="name" type="text" id="debounceName" unicorn:key="key1">

    <label>Chained lazy and debounce-500</label>
    <input unicorn:model.lazy.debounce-500="name" type="text" id="lazyDebounceName">

    <label>Multiple actions</label>
    <input unicorn:model="name" type="text" unicorn:keyup.enter="name='enter'" unicorn:keydown.escape="name=''"></input>

    <br />
    <button unicorn:click="set_name">set_name</button>
    <button unicorn:click="set_name()">set_name()</button>
    <button unicorn:click="set_name('')">set_name('')</button>
    <button unicorn:click="set_name('blob 2')">set_name('blob 2')</button>
    <button unicorn:click="name='human'">name='human'</button>

    <br />
    Hello {{ name|title }} 👋

    <br />
    <button unicorn:click='set_name($event.target.value.trim())' value=' button value '>set_name($event.target.value.trim())</button>
</div>