<div>
    <div class="field has-addons">
        <p class="control">
            <input class="input" type="text" unicorn:model.lazy="task" placeholder="New task" id="task"></input>
        </p>
        <p class="control">
            <button unicorn:click="add" class="button is-info">Add</button>&nbsp;&nbsp;<button unicorn:click="reset" class="button is-danger" {% if not tasks %}disabled{% endif %} style="border-radius: 4px;">Clear all tasks</button>
        </p>
    </div>

    <p>
        {% if tasks %}
        <ul>
            {% for task in tasks %}
            <li>{{ task }}</li>
            {% endfor %}
        </ul>
        {% else %}
        No tasks 🎉
        {% endif %}
    </p>
</div>
