{% load unicorn %}

<div>
    <style>
        [unicorn\:error\:invalid] {
            border: 1px solid red !important;
        }
        [unicorn\:error\:required] {
            border: 1px solid red !important;
        }

        .error {
            color: red;
        }
    </style>

    <div>
        {% unicorn_errors %}

        <div>
            <input unicorn:model="text" type="text" id="textId">
            {{ text }}
        </div>

        <div>
            <input unicorn:model="number" type="text" id="numberId">
            {{ number }}
        </div>

        <div>
            <label for="now">Now</label>
            <input unicorn:model="now" type="text" id="nowId" unicorn:key="now">
            <span class="error" id="nowError">{{ unicorn.errors.now.0.message }}</span>
        </div>

        <p>
            <strong>{% verbatim %}{{ now }}{% endverbatim %}</strong><br />
            {{ now }}
        </p>
        
        <p>
            <strong>{% verbatim %}{{ now|date:"s" }}{% endverbatim %}</strong><br />
            {{ now|date:"s" }}
        </p>

        <button unicorn:click="set_text">set_text</button>
        <button unicorn:click="validate">Validate</button>
        <button unicorn:click="reset">Reset</button>
        <button unicorn:click="refresh">Refresh</button>
    </div>
</div>
