{% load unicorn %}

<div>
    <style>
        [unicorn\:error\:invalid] {
            border: 1px solid red !important;
        }
        [unicorn\:error\:required] {
            border: 1px solid red !important;
        }

        .error {
            color: red;
        }
    </style>

    <div>
        {% unicorn_errors %}

        <div>
            <label>Plain text</label>
            <input unicorn:model="text" type="text" id="textId">
            {% verbatim %}{{ text }}{% endverbatim %}: {{ text }}
        </div>
    
        <div>
            <label>Number with validation</label>
            <input unicorn:model="number" type="text" id="numberId">
            {% verbatim %}{{ number }}{% endverbatim %}: {{ number }}
        </div>

        <div>
            <label>Datetime attribute with validation</label>
            <input unicorn:model="now" type="text" id="nowId" unicorn:key="now">
            <span class="error">{{ unicorn.errors.now.0.message }}</span>

            <p>
                {% verbatim %}{{ now }}{% endverbatim %}: {{ now }}
            </p>
            
            <p>
                {% verbatim %}{{ now|date:"s" }}{% endverbatim %}: {{ now|date:"s" }}
            </p>
        </div>

        <div>
            <label for="now_property">Datetime property with property setter</label>
            <input unicorn:model="now_property" type="text" id="nowPropertyId" unicorn:key="nowProperty">
            {% verbatim %}{{ now_property|date:"s" }}{% endverbatim %}: {{ now_property|date:"s" }}
        </div>

        <div>
            <button unicorn:click="set_text_no_validation">set_text_no_validation()</button>
            <button unicorn:click="set_text_with_validation">set_text_with_validation()</button>
            <button unicorn:click="validate">validate()</button>
            <button unicorn:click="reset">reset()</button>
            <button unicorn:click="refresh">refresh()</button>
        </div>
    </div>
</div>
