{% load static %}

{% if MINIFIED %}
<script src="{% static 'js/unicorn.min.js' %}"></script>

<script>
    {% if IS_ASGI %}
    var url = "{% url 'django_unicorn:message_async' %}";
    {% else %}
    var url = "{% url 'django_unicorn:message' %}";
    {% endif %}
    Unicorn.init(url);
</script>
{% else %}
<script type="module">
    import * as Unicorn from "{% static 'js/unicorn.js' %}";

    // Set Unicorn to the global so it can be used by components
    window.Unicorn = Unicorn;

    {% if IS_ASGI %}
    var url = "{% url 'django_unicorn:message_async' %}";
    {% else %}
    var url = "{% url 'django_unicorn:message' %}";
    {% endif %}
    Unicorn.init(url);
</script>
{% endif %}
