{% load unicorn %}

<tr>
    <td>
        {% if is_editing %}
        <input type="text" unicorn:model.defer="model.name" />
        {% else %}
        {{ model.name }}
        {% endif %}
    </td>
    <td>
        {% if is_editing %}
        <input type="text" unicorn:model.defer="model.label" />
        {% else %}
        {{ model.label }}
        {% endif %}
    </td>
    <td>
        {% if is_editing %}
        <input type="text" unicorn:model.defer="model.datetime" />
        {% elif model.datetime %}
        {{ model.datetime }}
        {% else %}
        n/a
        {% endif %}
    </td>

    {% unicorn 'nested.actions' parent=view key=model.id is_editing=is_editing on_edit=on_edit on_cancel=on_cancel on_save=on_save %}

    <!-- there could be a short form if the kwarg has the same name as the attribute?
         since tags cannot span multiple lines
    
    {% unicorn 'nested.actions' parent=view key=model.id is_editing on_edit on_cancel on_save %}
    -->

</tr>