{% load static unicorn %}

<html>
    <head>
        <title>django-unicorn examples</title>
        <link rel="stylesheet" href="{% static 'css/marx.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <main>
            {% csrf_token %}
            {% unicorn_scripts %}

            <h1>django-unicorn</h1>

            <ul>
                <li><a href="{% url 'www:index' %}">Index</a></li>
                <li><a href="{% url 'www:template' 'text-inputs' %}">Text inputs</a></li>
                <li><a href="{% url 'www:template' 'html-inputs' %}">Other inputs</a></li>
                <li><a href="{% url 'www:template' 'objects' %}">Objects</a></li>
                <li><a href="{% url 'www:template' 'validation' %}">Validation</a></li>
                <li><a href="{% url 'www:template' 'polling' %}">Polling</a></li>
                <li><a href="{% url 'www:template' 'models' %}">Models</a></li>
                <li><a href="{% url 'www:template' 'nested' %}">Nested components (table)</a></li>
            </ul>

            {% block content %}{% endblock content %}

        </main>
    </body>

</html>