{% load static unicorn %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/marx.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        {% unicorn_styles %}
    </head>

    <body>
        <main>
            {% csrf_token %}
            {% unicorn_scripts %}

            <h1>django-unicorn</h1>

            <p>
            This is an exmaple page to test out different HTML elements.
            </p>

            <h4>hello-world.html</h4>
            {% unicorn 'hello-world' %}
        </main>
        <footer>
            <strong>Standing on the shoulders of giants</strong>
            <ul>
                <li>Initial inspiration from <a href="https://laravel-livewire.com/">Livewire</a>, a Laravel full-stack framework in PHP</li> 
                <li>Also <a href="https://github.com/phoenixframework/phoenix_live_view">LiveView</a>, a framework for Phoenix and Elixir</li>
                <li>CSS from <a href="https://mblode.github.io/marx/">marx</a></li>
            </ul>
        </footer>
    </body>

</html>