name: Python
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2.1.4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.1.0

      - name: Set Poetry config
        run: |
          poetry config virtualenvs.in-project false
          poetry config virtualenvs.path ~/.virtualenvs${{ matrix.python-version }}

      - name: Install dependencies
        run: poetry install

      - name: black check
        run: poetry run black . --check --exclude migrations

      - name: isort check
        run: poetry run isort --settings pyproject.toml --check .

      - name: Run all tests
        run: poetry run nox
